@import '../../global.scss';

.registration {

	&-container {
		max-width: 1120px;
		margin: auto;

		@include md {
			max-width: 688px;
		}

		@include sm {
			max-width: 272px;
		}

		&-title {
			margin: 32px 0 72px;

			@include md {
				margin: 60px 0;
			}

			@include sm {
				margin: 56px 0 48px;
			}
		}

		&-wrapper {
			position: relative;
			background-color: white;
			max-width: 624px;
			height: 615px;
			margin: 0 auto 150px;
			padding: 40px;
			border-radius: 16px;

			@include md {
				max-width: 688px;
			}

			@include sm {
				max-width: 272px;
				padding: 24px;
			}

			Input {
				width: 100%;
				padding: 18px 20px;
				border: 1px solid rgba(49, 48, 55, 0.1);
				border-radius: 4px;

				&:hover, :focus {
					border: 1px solid #6C1BDB;					
				}
			}

			&-error {
				position: absolute;
				color: red;
				top: 10px;
				left: 30px;
				width: 400px;
			}

			&-username {
				position: relative;
				margin-bottom: 40px;

				&-title {
					margin-bottom: 8px;
				}

				&-input {

					&-error {

						Input {
							border: 1px solid red;
						}
					}
				}

				&-error {
					position: absolute;
					color: red;
					top: 90px;
				}
			}

			&-email {
				position: relative;
				margin-bottom: 40px;

				&-title {
					margin-bottom: 8px;
				}

				&-input {

					&-error {

						Input {
							border: 1px solid red;
						}
					}
				}

				&-error {
					position: absolute;
					color: red;
					top: 90px;
				}
			}

			&-password {
				margin-bottom: 48px;
				position: relative;
				&-title {
					margin-bottom: 8px;
				}

				&-input {

					&-error {

						Input {
							border: 1px solid red;
						}
					}
				}
				
				&-error {
					position: absolute;
					color: red;
					top: 90px;
				}

				&-text {
					margin-top: 40px;
				}
			}

			&-button {
				margin-bottom: 24px;	

				Button {
					width: 100%;
					height: 56px;					
					border-radius: 4px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
				}

				&-disabled {					
					cursor: auto;
					background-color: rgba(49, 48, 55, 0.1);
					color: rgba(49, 48, 55, 0.5);

					&:hover {
						background-color: rgba(49, 48, 55, 0.1);
					}
				}

				&-active {
					background-color: #6C1BDB;
					color: #FFFFFF;	
				}
			}

			&-sing-in {
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				color: #8D8E97;

				@include sm {
					font-size: 14px;
				}
				
				.sing-in-link {
					color: #313037;

					&:hover {
						color: #6C1BDB;
					}
				}
			}
		}
	}
}

.error-items {

	&-container {
		max-width: 1120px;
		margin: auto;

		@include md {
			max-width: 688px;
		}

		@include sm {
			max-width: 272px;
		}

		&-wrap {
			background-color: white;
			width: 624px;
			height: 260px;
			margin: 30px auto 70px;
			padding: 40px;
			border-radius: 16px;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include md {
				max-width: 688px;
			}

			@include sm {
				max-width: 272px;
				padding: 24px;
			}

			& h2 {
				text-align: center;
			}
			
			Button {
				margin-top: 30px;
				width: 420px;
				height: 56px;
				background-color: #6C1BDB;
				border-radius: 4px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				color: #FFFFFF;

				@include sm {
					width: 100%;
					height: 42px;
					font-size:16px;
				}
			}
		}
	}
}