.footer {
	margin: 35px 0;
	
	&-container {
		max-width: 1120px;
		margin: auto;
		border-top: 1px solid rgba(49, 48, 55, 0.1);
		padding: 35px 0;

		&-wrap {
			display: flex;			
			justify-content: space-between;
			align-items: center;

			&-text {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: rgba(49, 48, 55, 0.5);
			}

			&-switcher {
				color: rgba(49, 48, 55, 0.5);
			}
		}
	}
}