@import "sass/_fonts.scss";

h1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 80px;
	color: #313037;
}

.h1-p {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

}

h2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #323537;
}

h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #323537;
}

.s1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #323537;
}

.s1-p {
	font-family: 'Inter';
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;	
}

.b1 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #323537;
}

.b1-p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: #323537;
}

.b2 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #323537;
}

.b2-p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #323537;
}

.c2-p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}